$color-black: #1d202a;
$color-primary: #0b2c46;
$color-secondary: #68889f;
$color-orange: #e87e29;
$color-yellow: #ffc000;
$color-cream: #e2b189;
$color-gray: #ccc;
$color-darkgray: #595959;
$color-text: #627792;
$color-danger: lighten(red, 35%);
$color-success: adjust-hue(lighten(green, 35%), 40);
